<div class="container">
  <hr>
  <h3 class="pb-5">Estos son nuestros productos:</h3>
  <div class="container-fluid">
    <ul class="grid_products" style="list-style-type: none;">
      <% @products.each do |product| %>
      <li class>
        <div class="card" style="width: 18rem;">
        <div class="card-body">
          <%= cl_image_tag product.photo.key, height: 200, width: 400, crop: :scale, class:"card-img-top"%>
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= product.description %></p>
          <%= link_to "Comprar", product_path(product), class: "btn btn-primary"%>
        </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to "Quiero Vender!", new_product_path %>
