<div class="container">

  <div class="container pt-5">
    <div class="row">
      <div class="col-1 text-start">

      <div class="row">

        <div class="col">
        <button class="btn btn-link text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1"><h3 style="color: black">Talle</h3></button>
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div>
              <ul>
                <li class="list-unstyled"><%= link_to "43", "/products?query=43", class:"text-decoration-none", style: "color: black" %></li>
                <li class="list-unstyled"><%= link_to "42", "/products?query=42", class:"text-decoration-none", style: "color: black" %></li>
                <li class="list-unstyled"><%= link_to "41", "/products?query=41", class:"text-decoration-none", style: "color: black" %></li>
                <li class="list-unstyled"><%= link_to "40", "/products?query=40", class:"text-decoration-none", style: "color: black" %></li>
                <li class="list-unstyled"><%= link_to "39", "/products?query=39", class:"text-decoration-none", style: "color: black" %></li>
                <li class="list-unstyled"><%= link_to "38", "/products?query=38", class:"text-decoration-none", style: "color: black" %></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
        <button class="btn btn-link text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2"><h3 style="color: black">Color</h3></button>
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div>
              <ul>
                <li class="list-unstyled"><%= link_to "Blanco", "/products?query=blanco", class:"text-decoration-none", style: "color: black" %></li>
                <li class="list-unstyled"><%= link_to "Negro", "/products?query=42", class:"text-decoration-none", style: "color: black" %></li>
                <li class="list-unstyled"><%= link_to "Rojo", "/products?query=41", class:"text-decoration-none", style: "color: black" %></li>
                <li class="list-unstyled"><%= link_to "Amarillo", "/products?query=40", class:"text-decoration-none", style: "color: black" %></li>
                <li class="list-unstyled"><%= link_to "Verde", "/products?query=39", class:"text-decoration-none", style: "color: black" %></li>
                <li class="list-unstyled"><%= link_to "Violeta", "/products?query=38", class:"text-decoration-none", style: "color: black" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="col-11">

        <div class="row justify-content-around ps-5">

          <div class="col" >
            <%= link_to image_tag("https://media.glassdoor.com/sqll/10692/adidas-squarelogo-1499169651022.png", :class => "avatar-large" ), "/products?query=adidas", class: "d-print-block" %>
          </div>

          <div class="col">
            <%= link_to image_tag("https://i.pinimg.com/originals/82/47/37/82473738c0e36e463be9de989ace02df.jpg", :class => "avatar-large" ), "/products?query=converse", class: "d-print-block" %>
          </div>

          <div class="col">
            <%= link_to image_tag("https://i.pinimg.com/originals/c0/95/7a/c0957ad648fe871b097e19dfcad8d367.jpg", :class => "avatar-large" ), "/products?query=vans", class: "d-print-block" %>
          </div>

          <div class="col">
            <%= link_to image_tag("https://dolphinswimware.co.uk/assets/cdn/brands/4bab81e280c8713edc63fe38c20b89de.jpg", :class => "avatar-large" ), "/products?query=nike", class: "d-print-block" %>
          </div>

          <div class="col">
            <%= link_to image_tag("https://1.bp.blogspot.com/-klo0AKdkZO4/Wf_QA6FhqpI/AAAAAAAAAI4/e6_uoRCzrCYIW21zaXwLVQEOirS7ONMnACLcBGAs/s1600/C33u8YOVcAEPnS8.jpg", :class => "avatar-large" ), "/products?query=puma", class: "d-print-block" %>
          </div>

          <div class="col">
            <%= link_to image_tag("https://hitconsultant.net/wp-content/uploads/2014/02/under-armour-logo-vector.jpg", :class => "avatar-large" ), "/products?query=under+armour", class: "d-print-block" %>
          </div>

        </div>

        <div class="row pt-4" >
          <div class="container-fluid">
            <ul class="grid_products" style="list-style-type: none;">
              <% @products.each do |product| %>
              <li class>
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <%= cl_image_tag product.photo.key, height: 200, width: 400, crop: :scale, class:"card-img-top"%>
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text"><%= product.description %></p>
                    <%= link_to "Comprar", product_path(product), class: "btn btn-flat"%>
                  </div>
                </div>
              </li>
              <% end %>
            </ul >
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
