<div class="container">

  <div class="container pt-5">
    <div class="row">

      <div class="col-1 text-start">
        <h3>Talle</h3>
        <h3>Marca</h3>
        <h3>Color</h3>
        <h3>Precio</h3>
      </div>

      <div class="col-11">

        <div class="row justify-content-around ps-5">

          <div class="col">
            <%= link_to image_tag("https://kitt.lewagon.com/placeholder/users/cveneziani", :class => "avatar-large" ), products_path, class: "d-print-block" %>
          </div>

          <div class="col">
            <%= link_to image_tag("https://kitt.lewagon.com/placeholder/users/cveneziani", :class => "avatar-large" ), products_path, class: "d-print-block" %>
          </div>

          <div class="col">
            <%= link_to image_tag("https://kitt.lewagon.com/placeholder/users/cveneziani", :class => "avatar-large" ), products_path, class: "d-print-block" %>
          </div>

          <div class="col">
            <%= link_to image_tag("https://kitt.lewagon.com/placeholder/users/cveneziani", :class => "avatar-large" ), products_path, class: "d-print-block" %>
          </div>

          <div class="col">
            <%= link_to image_tag("https://kitt.lewagon.com/placeholder/users/cveneziani", :class => "avatar-large" ), products_path, class: "d-print-block" %>
          </div>

          <div class="col">
            <%= link_to image_tag("https://kitt.lewagon.com/placeholder/users/cveneziani", :class => "avatar-large" ), products_path, class: "d-print-block" %>
          </div>

        </div>

        <div class="row pt-4">

          <div class="container-fluid">
            <ul class="grid_products" style="list-style-type: none;">
              <% @products.each do |product| %>
              <li class>
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <%= cl_image_tag product.photo.key, height: 200, width: 400, crop: :scale, class:"card-img-top"%>
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text"><%= product.description %></p>
                    <%= link_to "Comprar", product_path(product), class: "btn btn-primary"%>
                  </div>
                </div>
              </li>
              <% end %>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
