<head>
  <link rel="product-card" href="app/assets/stylesheets/components/_product-card.scss">
</head>
<div class="container h-100">
  <div class="card-product">
    <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
    <%= cl_image_tag @product.photo.key, style: "height: 100%; width: 480px; object-fit: contain;"  %>
    <div class="card-product-infos">
      <h2><%= @product.name %></h1>
      <p><strong><%= @product.brand %></strong></p>
      <p>Talla: <%= @product.size %></p>
      <p>Color-wave: <%= @product.color %></p>
      <% if current_user != @product.user %>
        <p><strong>Vendedor: <%= @product.user.full_name %></strong></p>
        <%= link_to "Comprar", new_product_order_path(@product), class: "btn btn-flat" %>
      <% else %>
        <p></p>
      <% end %>
    </div>
    <div class="card-product-infos text-center">
      <% if policy(@product).edit? %>
        <%= link_to "Edit producto", edit_product_path(@product), class: "btn btn-ghost" %>
        <p></p>
        <%= button_to "Eliminar producto", @product, class: "btn btn-ghost", method: :delete if policy(@product).destroy? %>
      <% end %>
    </div>
  </div>
</div>
