<div class="container">
  <h1><%= @product.name %></h1>
  <h4><%= @product.brand %></h4>
  <p>Descripcion: <%= @product.description %></p>
  <p>Precio: <%= @product.price %>$</p>
  <p>Talle: <%= @product.size %></p>
  <p>Color: <%= @product.color %></p>
  <p>Vendedor: <%= @product.user.full_name %></p>
</div>
<div>
<%= link_to "comprar", new_product_order_path(@product) %>
<%# Cambiar esto te tiene que llevar al registro o algo por el estilo %>
</div>
